# ------------------
# Next.js (main application)
# ------------------
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# ------------------
# Environment
# development, production, preview, test
# ------------------
NODE_ENV="development"

# ------------------
# Database (PostgreSQL)
# ------------------
DIRECT_URL="postgres://postgres:postgres@127.0.0.1:5432/postgres"
DATABASE_URL="postgres://postgres:postgres@127.0.0.1:5432/postgres"

# ------------------
# Redis
# ------------------
REDIS_URL="redis://127.0.0.1:6379"

# ------------------
# Authentication (Better Auth)
# $ openssl rand -base64 32
# Optional: set for shared sessions across subdomains (e.g. .example.com)
# COOKIE_DOMAIN=""
# ----------------
BETTER_AUTH_SECRET=""

# ------------------
# Google OAuth2
# ------------------
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# ------------------
# Analytics
# ------------------
NEXT_PUBLIC_ANALYTICS_ID=""
NEXT_PUBLIC_ANALYTICS_SCRIPT_URL=""
